PORT=5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/database_name?retryWrites=true&w=majority
JWT_SECRET=your_secure_jwt_secret_key_string
EMAIL_USER=your_invite_gmail_user@gmail.com
EMAIL_PASS=your_gmail_app_password
TURN_URL=turn:your_turn_server.com:3478
TURN_USERNAME=your_turn_username
TURN_PASSWORD=your_turn_password
